asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
defusedxml==0.7.1
Django==5.1.4
django-seed==0.3.1
Faker==36.1.1
idna==3.10
jira==3.8.0
oauthlib==3.2.2
packaging==24.2
pillow==11.1.0
python-decouple==3.8
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
sqlparse==0.5.2
toposort==1.10
typing_extensions==4.12.2
tzdata==2024.2
Unipath==1.1
urllib3==2.3.0
whitenoise==6.8.2
gunicorn==23.0.0
psycopg2