{% extends "layouts/base.html" %}

{% block title %} Managing-Cutstomer {% endblock %} 
{% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
    <div class="d-block mb-4 mb-md-0">
        <h2 class="h4">Customer</h2>
        <p class="mb-0">정기 점검 대상 고객사 관리.</p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0 me-4">
    <!-- Button Modal -->
    <button type="button" class="btn btn-block btn-gray-800 mb-3" data-bs-toggle="modal" data-bs-target="#append-modal-form">
        + Customer 등록
    </button>
    <!-- Modal Content -->
        <div class="modal fade" id="append-modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="card p-3 p-lg-4">
                            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h4">고객사 등록</h1>
                            </div>
                            <form id="appendForm" action="/customer/append" class="mt-4" method="POST">
                                {% csrf_token %}
                                <div class="mb-4">
                                    <label for="customer-name">Customer Name</label>
                                    <input type="text" name="customer-name" class="form-control" id="customer-name">
                                </div>
                                <div class="mb-4">
                                    <label for="customer-manager">Manager</label>
                                    <input type="text" name="customer-manager" class="form-control" id="customer-manager" aria-describedby="textHelp">
                                    <small id="textHelp" class="form-text text-muted">고객사 담당자 이름 입력</small>
                                </div>
                                <div class="mb-4">
                                    <input class="form-check-input" type="checkbox" name="inspection" id="inspection">정기 점검 진행 여부</input>
                                </div>
                                <div class="modal-footer d-flex justify-content-center pt-3 pb-0">
                                    <button type="submit" class="btn btn-gray-800">Append</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- End of Modal Content -->
    </div>
</div>
<div class="d-flex align-items-center">
    <!-- Search form -->
    <form class="navbar-search form-inline" id="navbar-search-main">
      <div class="input-group input-group-merge search-bar mb-3">
          <span class="input-group-text" id="topbar-addon">
            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
            </svg>
          </span>
          <input type="text" class="form-control" id="search-input" placeholder="Search" aria-label="Search" aria-describedby="topbar-addon">
      </div>
    </form>
    <!-- / Search form -->
</div>

<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th class="border-gray-200 rounded-start">#</th>
                <th class="border-gray-200">Name</th>						
                <th class="border-gray-200">담당자</th>
                <th class="border-gray-200">패키지 수</th>
                <th class="border-gray-200">등록일</th>
                <th class="border-gray-200">점검 여부</th>
                <th class="border-gray-200">점검 주기</th>
                <th class="border-gray-200 rounded-end">삭제 / 수정</th>
            </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0" id="pagination">
            </ul>
        </nav>
        <div class="fw-normal small mt-4 mt-lg-0" id="pagination-info">
        </div>
    </div>
</div>

<div class="modal fade" id="modify-modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card p-3 p-lg-4">
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h4">정기 점검 일정 변경</h1>
                    </div>
                    <form id="modifyForm" action="/inspection/schedule-modify" class="mt-4" method="POST">
                        {% csrf_token %}
                        <div class="mb-1">
                            <label id="modify-customer-name-label" for="modify-customer-name-label">Customer Name : </label>
                            <input type="hidden" name="modify-customer-name" id="modify-customer-name" value="">
                        </div>
                        <div class="mb-4">
                            <label class="my-1 me-2" for="inspection-period">정기 점검 주기</label>
                            <select class="form-select" name="inspection-period"id="inspection-period" aria-label="Default select example">
                                <option value="monthly">Monthly</option>
                                <option value="quarter">Quarter</option>
                                <option value="half">Half</option>
                            </select>
                        </div>
                        <div class = "row mb-4">
                            <div class="mb-2">
                                <span class="h6 fw-bold">정기 점검 진행 월</span>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <!-- Checkboxes -->
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="months" value="January" id="January">1월</input>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="months" value="February" id="February">2월</input>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="months" value="March" id="March">3월</input>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="months" value="April" id="April">4월</input>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="months" value="May" id="May">5월</input>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="months" value="June" id="June">6월</input>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <!-- Checkboxes -->
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="months" value="July" id="July">7월</input>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="months" value="August" id="August">8월</input>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="months" value="September" id="September">9월</input>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="months" value="October" id="October">10월</input>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="months" value="November" id="November">11월</input>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="months" value="December" id="December">12월</input>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center pt-3 pb-0">
                            <button type="submit" class="btn btn-gray-800">Append</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'assets/vendor/sweetalert2/sweetalert2.all.min.js'%}"></script>
<script src="{% static 'assets/js/append.js' %}"></script>
<script src="{% static 'assets/js/delete.js' %}"></script>
<script src="{% static 'assets/js/customer_list.js' %}"></script>
<script src="{% static 'assets/js/schedule_edit.js' %}"></script>
{% endblock javascripts %}
