{% extends "layouts/base.html" %}

{% block title %} Managing-Cutstomer {% endblock %} 
{% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
    <div class="d-block mb-4 mb-md-4">
        <h2 class="h4">Official Document</h2>
        <p class="mb-0">솔루션별 고객사 대상 공문 전달 용.</p>
    </div>
</div>

<div class="card card-body border-2 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
            <span class="h6 fw-bold">공문 대상 : </span>
            <button type="button" class="btn btn-block btn-gray-800 mb-1" data-bs-toggle="modal" data-bs-target="#select-modal-form">
                그룹 선택
            </button>
        </div>
        <div class="row py-1 align-items-center">
            <div class="col-sm-10">
                <p class="text-primary mb-0"></p>
            </div>
        </div>
    </table>
</div>

<div class="modal fade" id="select-modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card p-3 p-lg-4">
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h4">대상 그룹 선택</h1>
                    </div>
                    <form id="selectForm">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="customer-name">Customer Name</label>
                            <input type="text" name="customer-name" class="form-control" id="customer-name">
                        </div>
                        <div class="row mb-0">
                            <div class="mb-2">
                                <span class="h6 fw-bold">점검 옵션 확인</span>
                            </div>
                            <div class="col-lg-3 col-md-6" id="option-checkboxes">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card card-body border-2 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <div class="mb-1">
            <span class="h6 fw-bold">공문 제목 : </span>
        </div>
        <input class="form-control" type="text" placeholder="Title" name="title" id="title">
    </table>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'assets/vendor/sweetalert2/sweetalert2.all.min.js'%}"></script>
{% endblock javascripts %}
