{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Managing-Packages {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
      <div class="d-block mb-4 mb-md-0">
          <h2 class="h4">Packages</h2>
          <p class="mb-0">패키지명 관리</p>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0 me-4">
        <!-- Button Modal -->
        <button type="button" class="btn btn-block btn-gray-800 mb-3" data-bs-toggle="modal" data-bs-target="#append-modal-form">
            + Package 등록
        </button>
        <!-- Modal Content -->
            <div class="modal fade" id="append-modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Package 등록</h1>
                                </div>
                                <form id="appendForm" action="/package/append" class="mt-4" method="POST">
                                    {% csrf_token %}
                                    <div class="mb-4">
                                        <label for="package-name">Package Name</label>
                                        <textarea class="form-control" name="package-name" id="package-name" rows="4"></textarea>
                                    </div>
                                    <div class="mb-4">
                                        <label class="my-1 me-2" for="platform">Platform</label>
                                        <select class="form-select" name="platform" id="platform" aria-label="Default select example">
                                            <option selected value="android">Android</option>
                                            <option value="iOS">iOS</option>
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label for="customer-name">Customer Name</label>
                                        <input type="text" name="customer-name" class="form-control" id="customer-name">
                                    </div>
                                    <div class="mb-4">
                                        <label for="license_expire_date">License Expire Date</label>
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                                            </span>
                                            <input data-datepicker="" name="license_expire_date" class="form-control" id="license_expire_date" type="text" placeholder="mm/dd/yyyy" required>                                        
                                        </div>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center pt-3 pb-0">
                                        <button type="submit" class="btn btn-gray-800">Append</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- End of Modal Content -->
      </div>
  </div>
<div class="d-flex align-items-center">
<!-- Search form -->
    <form class="navbar-search form-inline" id="navbar-search-main">
        <div class="input-group input-group-merge search-bar mb-3">
            <span class="input-group-text" id="topbar-addon">
            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
            </svg>
            </span>
            <input type="text" class="form-control" id="search-input" placeholder="Search" aria-label="Search" aria-describedby="topbar-addon">
        </div>
    </form>
<!-- / Search form -->
</div>
    
<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th class="border-gray-200 rounded-start">#</th>
                <th class="border-gray-200">Name</th>						
                <th class="border-gray-200">고객사</th>
                <th class="border-gray-200">OS</th>
                <th class="border-gray-200">라이센스 만료일</th>
                <th class="border-gray-200">등록일</th>
                <th class="border-gray-200 rounded-end">Delete</th>
            </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0" id="pagination">
            </ul>
        </nav>
        <div class="fw-normal small mt-4 mt-lg-0" id="pagination-info">
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'assets/vendor/sweetalert2/sweetalert2.all.min.js'%}"></script>
<script src="{% static 'assets/js/append.js' %}"></script>
<script src="{% static 'assets/js/delete.js' %}"></script>
<script src="{% static 'assets/js/packages_list.js' %}"></script>
{% endblock javascripts %}
