{% extends "layouts/base.html" %}

{% block title %} Managing-Cutstomer {% endblock %} 
{% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
    <div class="d-block mb-4 mb-md-0">
        <h2 class="h4">Customer E-Mail List</h2>
        <p class="mb-0">솔루션별 공문 전달 이메일 리스트</p>
    </div>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <!-- Search form -->
    <form class="navbar-search form-inline" id="navbar-search-main">
      <div class="input-group input-group-merge search-bar">
          <span class="input-group-text" id="topbar-addon">
            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
            </svg>
          </span>
          <input type="text" class="form-control" id="search-input" placeholder="Search" aria-label="Search" aria-describedby="topbar-addon">
      </div>
    </form>
    <!-- / Search form -->
     <form method="POST">
        {% csrf_token %}
        {% if request.user.is_superuser %}
            <button type="submit" class="btn btn-gray-800" action="/contact/list-update">
                Contatct List Update
            </button>
        {% endif %}
     </form>
</div>

<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th class="border-gray-200 rounded-start">Name</th>						
                <th class="border-gray-200">E-Mail</th>
                <th class="border-gray-200">패키지 수</th>
                <th class="border-gray-200">Organization</th>
                <th class="border-gray-200">Labels</th>
            </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0" id="pagination">
            </ul>
        </nav>
        <div class="fw-normal small mt-4 mt-lg-0" id="pagination-info">
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'assets/vendor/sweetalert2/sweetalert2.all.min.js'%}"></script>
<script src="{% static 'assets/js/contact_email_list.js' %}"></script>
{% endblock javascripts %}
